@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
}


body{
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: black;
    position: relative;
    display: flex;
}

.games {
    min-width: 400px;
    z-index: 2;
    position: relative;
    border: 1dvw solid #5F0F40;
    border-radius: 2dvw;
    width: 90dvw;
    height: 90dvh;
    top: 5dvh;
    left: 5dvw;
    background-color:black;
    display: none;
    justify-content: space-around;
    align-items: center;
}

.v1 {
    min-width: 300px;
    width: 30dvw;
    height: 20dvh;
    background-color: #007074;
    border: 0.5dvw solid #5F0F40;
    border-radius: 1dvw;
    font-size: 3dvw;
    color: white;
}

.tournment {
    min-width: 300px;
    width: 30dvw;
    height: 20dvh;
    background-color:#007074;
    border: 0.5dvw solid #5F0F40;
    border-radius: 1dvw;
    font-size: 3dvw;
    color: white;
}

button {
    font-family: inherit;
}


.score {
    width: 100%;
    height: 250px;
    /* border: 10px solid white; */
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}


.board {
    min-width: 300px;
    width: 20%;
    margin: 0;
    border-radius: 15px;
    /* border: 10px solid #09122C; */
    background-color: #5F0F40;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.board1{
    min-width: 400px;
    height: 45%;
    font-size: 1.5dvw;
    color: white;
    position: relative;
}

.board1::before,
.board1::after{
    content: '';
    position: absolute;
    width: 100.6%;
    height: 101%;
    left: -0.3%;
    top: -0.5%;
    background: conic-gradient(from 0deg at center, #be1099, #4d0199, #6300c6, #be1099);
    z-index: -2;
    padding: 10px;
    border-radius: inherit;
}

.board1::after{
    filter: blur(60px);
}

.board2 {
    min-width: 400px;
    height: 45%;
    font-size: 1.5dvw;
    position: relative;
    color: white;
}

.board2::before,
.board2::after{
    content: '';
    position: absolute;
    width: 100.6%;
    height: 101%;
    left: -0.3%;
    top: -0.5%;
    background: conic-gradient(from 0deg at center, #be1099, #4d0199, #6300c6, #be1099);
    z-index: -2;
    padding: 10px;
    border-radius: inherit;

}

.board2::after{
    filter: blur(60px);
}


/* .player1name {
    font-size: 7dvw;
    } */
    

    
    


.vs{
    position: absolute;
    font-size: 7dvw;
    margin: 0;
    z-index: 1;
    text-align: center;
    background: linear-gradient(to right, #be1099, #4d0199, #6300c6, #be1099);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 5.5s linear infinite;
}



.playground{
    min-width: 400px;
    position: absolute;
    justify-content: center;
    display: block;
    width: 70%;
    aspect-ratio: 16/8; 
    background-color: #5F0F40;
    top: 250px;
    left: 15%;
    right: 15%;
    border-radius: 20px;
    
}

.playground::before,
.playground::after{
    content: '';
    position: absolute;
    width: 100.6%;
    height: 101%;
    left: -0.3%;
    top: -0.5%;
    background: conic-gradient(from 0deg at center, #be1099, #4d0199, #6300c6, #be1099);
    z-index: -2;
    padding: 10px;
    border-radius: inherit;
    /* animation: animate 2.5s linear infinite; */
}

@keyframes animate {
    to {
        background-position: 200%;
    } 
}
    
.playground::after{
    filter: blur(40px);
}

.padle1{
    --position: 50;
    position: absolute;
    background-color: aquamarine;
    top: calc(var(--position) * 1%);
    left: 1%;
    transform: translateY(-50%);
    width: 1%;
    border-radius: 5px;
    height: 15%;
}

.padle2{
    --position: 50;
    position: absolute;
    background-color: aquamarine;
    top: calc(var(--position) * 1%);
    right: 1%;
    transform: translateY(-50%);
    width: 1%;
    border-radius: 5px;
    height: 15%;
}

.ball{
    --x: 50;
    --y: 50;
    height: 4%;
    aspect-ratio: 1/1;
    background: red;
    border-radius: 50%;
    top: calc(var(--y) * 1%);
    left: calc(var(--x) * 1%);
    transform: translate(-50%, -50%);
    position: absolute;
    will-change: transform;
}


.frame {
    width: 50%;
    height: 20%;
    position: relative;
    border-radius: 10px;
    top: calc(50 * 1%);
    left: calc(50 * 1%);
    background: #007074;
    transform: translate(-50%, -50%);
    z-index: 0;
    /* text-align: center; */
    
    
    
}

.player1name {
    margin-left: 1dvw;
}

.player2name {
    margin-left: 1dvw;
}

.player1score {
    margin-right: 1dvw;
}

.player2score {
    margin-right: 1dvw;
}


.startText {
    text-align: center;
    color: white;
    padding-top: 4.5%;
    font-size: clamp(1rem,  2vw, 3rem);
}


.frame2 {
    min-width: 400px;
    z-index: 2;
    position: relative;
    border: 1dvw solid #5F0F40;
    border-radius: 2dvw;
    width: 90dvw;
    height: 90dvh;
    top: 5dvh;
    left: 5dvw;
    background-color:black;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.resetMatch {
    display: none;
    min-width: 300px;
    color: white;
    width: 30dvw;
    height: 15dvh;
    background-color: #007074;
    border: 0.5dvw solid #5F0F40;
    border-radius: 1dvw;
    font-size: clamp(1rem,  2vw, 3rem);
}

.restartTournment {
    display: none;
    min-width: 300px;
    color: white;
    width: 30dvw;
    height: 15dvh;
    background-color: #007074;
    border: 0.5dvw solid #5F0F40;
    border-radius: 1dvw;
    font-size: clamp(1rem,  2vw, 3rem);
}

.quit {
    min-width: 300px;
    color: white;
    width: 30dvw;
    height: 15dvh;
    background-color:#007074;
    border: 0.5dvw solid #5F0F40;
    border-radius: 1dvw;
    font-size: clamp(1rem,  2vw, 3rem);
}

.winnerText {
    text-align: center;
    color: white;
    padding-top: 4.5%;
    font-size: clamp(3rem,  5vw, 8rem);
}

.userName {
    min-width: 200px;
    z-index: 2;
    position: relative;
    border: 0.5dvw solid #007074;
    border-radius: 1dvw;
    width: 30dvw;
    height: 45dvh;
    top: 36dvh;
    left: 35dvw;
    background-color: black;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.playerNumber {
    text-align: center;
    color: white;
    font-size: clamp(1rem,  2vw, 3rem);
}

.error{
    align-self: center;
    color: red;
    display: none;
    font-size: clamp(0.2rem,  0.8vw, 1rem);
}

.inputName{
    min-width: 200px;
    width: 20dvw;
    height: 7dvh;
    border: 0.5dvw solid #5F0F40;
    border-radius: 0.3dvw;
    /* font-size: clamp(0.1rem,  0.5vw, 1rem); */
    font-size: 1.5rem;
    left: 5px;  
}

input {
    font-family: 'Press Start 2P', cursive;
}

:placeholder-shown {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
}

.submit{
    min-width: 100px;
    width: 15dvw;
    height: 6dvh;
    background-color:#007074;
    border: 0.2dvw solid #5F0F40;
    border-radius: 1dvw;
    font-size: clamp(0.3rem,  1vw, 1.5rem);
}

.tournmentNames {
    min-width: 300px;
    z-index: 2;
    position: relative;
    border: 0.5dvw solid #007074;
    border-radius: 1dvw;
    width: 30dvw;
    height: 70dvh;
    top: 15dvh;
    left: 35dvw;
    background-color: black;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.participantUsers {
    text-align: center;
    color: white;
    font-size: clamp(1rem,  2vw, 3rem);
}

.error2{
    align-self: center;
    color: red;
    display: none;
    font-size: clamp(0.2rem,  0.4vw, 0.8rem);
}

.inputName2{
    min-width: 200px;
    width: 20dvw;
    height: 7dvh;
    border: 0.5dvw solid #5F0F40;
    border-radius: 0.3dvw;
    /* font-size: clamp(0.1rem,  0.5vw, 1rem); */
    font-size: 0.8rem;
    left: 5px;  
}

.inputName3{
    min-width: 200px;
    width: 20dvw;
    height: 7dvh;
    border: 0.5dvw solid #5F0F40;
    border-radius: 0.3dvw;
    /* font-size: clamp(0.1rem,  0.5vw, 1rem); */
    font-size: 0.8rem;
    left: 5px;  
}

.inputName4{
    min-width: 200px;
    width: 20dvw;
    height: 7dvh;
    border: 0.5dvw solid #5F0F40;
    border-radius: 0.3dvw;
    /* font-size: clamp(0.1rem,  0.5vw, 1rem); */
    font-size: 0.8rem;
    left: 5px;  
}

.submitUsers{
    min-width: 100px;
    width: 15dvw;
    height: 6dvh;
    background-color:#007074;
    border: 0.2dvw solid #5F0F40;
    border-radius: 1dvw;
    font-size: clamp(0.3rem,  1vw, 1.5rem);
}
























@media (max-width: 850px) {
    .score {
      flex-direction: column;
      justify-content: space-around;
    }
    .board {
        width: 70%;
    }
    .board1 {
        height: 30%;
    }
    .board2 {
        height: 30%;
        text-align: right;
    }
    .playground {
        width: 90%;
        right: 5%;
        left: 5%;
    }
    .games {
        flex-direction: column;
    }
    .v1 {
        width: 90%;
        left : 5%;
    }
    .tournment {
        width: 90%;
        left : 5%;
    }
    .frame2 {
        width: 90%;
    }
    .resetMatch {
        width: 90%;
        left: 5%
    }
    .quit {
        width: 90%;
        left: 5%
    }
}




@media (max-width: 450px)
{
    .games {
        left: 0;
    }
    .playground {
        left: 0;
        right: 0;
    }
    .board {
        width: 100%;
    }
    .frame2 {
        width: 100%;
        left: 0;
    }

}









